@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red: hsl(0, 100%, 74%);
}

@layer base {
  .radix-themes {
    --default-font-family: var(--font-inter);
    --font-weight-light: 200;
    --font-weight-regular: 300;
    --font-weight-medium: 600;
    --font-weight-bold: 800;
  }
}
